<div #contentElement class="int-container">
  <button (click)="small()">Zwiększ czcionkę</button>
  <button (click)="big()">Zmniejsz czcionkę</button>
<app-search-bar class="search-bar"></app-search-bar>
<app-badges class="badges"></app-badges>
<app-profit class="profit-1"></app-profit>
<app-profit class="profit-2"></app-profit>
<app-profit class="profit-3"></app-profit>
<app-profit class="profit-4"></app-profit>

<app-total class="total"></app-total>
  <app-total class="total"></app-total>
  <app-total class="total"></app-total>
</div>
